/* VARIABLES */

/*Couleurs */
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$grey: #eaeaea;
$light-grey: lighten($grey, 3);

$numb-bg-color: rgb(0, 102, 255);

/* Plate variables*/
$plate_border: 15px;
$plate_height: 70px;
$plate_margin: 10px;

/*Loader spin*/
$loader_size: 175px;

/* Carte de presentation*/
$card-border: 20px;
